<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>

    <center>
      <h4>Anantmani Abhishek</h4>
      <video src="../../assets/images/abhishek vid.mp4" autoplay width="400"></video>
    </center>

    <!-- <center>
      <h4 style="color: aqua">Ye app flow he</h4>
      <img src="../../assets/images/M5ubcYTM_400x400.jpg" alt="" width="300">
      <h4 style="color: greenyellow">Ye humara app he</h4>
      <img src="../../assets/images/Capacitor.png" alt="" width="300">
      <h4 style="color: darkorange">or usme code push ho rha he</h4>
      <img src="../../assets/images/download.png" alt="" width="300">
    </center> -->
  </div>
</ion-content>
